<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal">
                <h2>Registration Form</h2>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" placeholder="이름" class="form-control" id="user_name" name="user_name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" placeholder="이메일" class="form-control" id="user_email" name="user_email" value=""  />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" placeholder="주소1" class="form-control" id="user_addr1" name="user_addr1" value="부천시"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" placeholder="주소2" class="form-control" id="user_addr2" name="user_addr2" value="오정구"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" placeholder="주소3" class="form-control" id="user_addr3" name="user_addr3" value="원종동"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="password" placeholder="비밀번호" class="form-control" id="user_pwd" name="user_pwd" value=""   />
                        </div>
                    </div>
            </form>
            <div class="form-group">
                <div class="col-sm-9">
                    <button type="button" class="btn btn-primary btn-block" id="btn-save">Register User</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--custom js 추가-->
<script src="{{springMacroRequestContext.request.contextPath}}/js/app/main.js"></script>
</body>
</html>