<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Visualize by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">

    </header>
    <!-- Main -->
    <section id="main">
        <!-- Thumbnails -->
        <section class="thumbnails">
                {{#list}}
                    {{#if listCount/2 = 0}}
                    <div>
                        <a href="">
                            <img src="/uploads/img/{{goodsImg}}" alt="" />
                            <h3>{{goodsName}}</h3>
                        </a>
                    </div>
                    {{/if}}
                {{/list}}
        </section>

    </section>

    <!-- Footer -->
    <footer id="footer">
        <p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </footer>

</div>
<!-- Scripts -->
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/lib/jquery.poptrox.min.js"></script>
<script src="/js/lib/skel.min.js"></script>
<script src="/js/goods.js"></script>
</body>
</html>