<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/js/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/util.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/main.css">
    <script type="text/javascript" src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.validate.min.js"></script>
</head>
<body>
<div id="root">
    <section id="container">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						로그인
					</span>
                    </div>
                    <form class="login100-form validate-form" action="/login" method="POST">
                        <div class="wrap-input100 validate-input m-b-26" data-validate="아이디를 다시 입력해주세요.">
                            <span class="label-input100">아이디</span>
                            <input class="input100" type="email" name="user_email" placeholder="아이디를 입력해주세요.">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-18" data-validate = "비밀번호를 다시 입력해주세요.">
                            <span class="label-input100">비밀번호</span>
                            <input class="input100" type="password" name="user_pwd" placeholder="비밀번호를 입력해주세요.">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="flex-sb-m w-full p-b-30">
                            <div class="contact100-form-checkbox">
                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            </div>
                            <div>
                                <a href="./signup" class="txt1">
                                    회원가입
                                </a>
                            </div>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit" id="signin_btn" name="signin_btn">
                                로그인
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div id="footer_box">
            {{> user/include/footer}}
        </div>
    </footer>
</div>
<script src="/js/lib/validate.js"></script>
<script src="/js/app/sign.js"></script>
</body>
</html>
