<html>
<head>
    <title>Admin</title>
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/admin/register.css">
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div id="root">
    <header id="header">
        <div id="header_box">
            {{> admin/include/header}}
        </div>
    </header>
    <nav id="nav">
        <div id="nav_box">
            {{> admin/include/nav}}
        </div>
    </nav>
    <section id="container">
        <aside>
            {{> admin/include/aside}}
        </aside>
        <div id="container_box">
            <h2>상품 등록</h2>
            <br />
            <form method="post" action="/admin/goods/register" enctype="multipart/form-data">
                <input type="hidden" id="categoryValue"  value="{{category}}" disabled  />
                <div class="inputArea">
                    <label>1차 분류</label>
                    <select class="category1" name="goodsCategory">
                        <option value="">전체</option>
                        {{#each category}}
                            <option name="goodsCategory" value="{{categoryCode}}">{{categoryName}}</option>
                        {{/each}}
                    </select>
                    <label>2차 분류</label>
                    <select class="category2" name="goodsSubCategory">
                        <option name="goodsSubCategory" value="">전체</option>
                    </select>
                </div>
                <div class="inputArea">
                    <label for="goodsName">상품명</label>
                    <input type="text" id="goodsName" name="goodsName" />
                </div>
                <div class="inputArea">
                    <label for="goodsPrice">상품가격</label>
                    <input type="text" id="goodsPrice" name="goodsPrice" />
                </div>
                <div class="inputArea">
                    <label for="goodsStock">상품수량</label>
                    <input type="text" id="goodsStock" name="goodsStock" />
                </div>
                <div class="inputArea">
                    <label for="goodsDescription">상품소개</label>
                    <textarea rows="5" cols="50" id="goodsDescription" name="goodsDescription"></textarea>
                </div>
                <div class="inputArea">
                    <label for="goodsImg">이미지</label>
                    <input type="file" id="goodsImg" name="file" />
                    <div class="select_img"><img src="" /></div>
                </div>
                <div class="inputArea">
                    <button type="submit" id="goods_register_btn" class="btn btn-primary">등록</button>
                </div>
            </form>
        </div>
    </section>
    <footer id="footer">
        <div id="footer_box">
            {{> admin/include/footer}}
        </div>
    </footer>
</div>
<script src="/js/app/admin.js"></script>
</body>
</html>