<ul>
    <li><b>카테고리</b></li>
    <form id="categoryForm">
    {{#category}}
            <!-- 1차 카테고리 -->
            <li>
                <a href="#">{{categoryName}}</a>
                <ul class="low">
                    {{#goodsSubCategory}}
                    <!-- 2차 카테고리 -->
                    <li>
                        <a href="javascript:void(0);" class="btn-category" data-value="{{categorySubCode}}">{{categoryName}}</a>
                    </li>
                    {{/goodsSubCategory}}
                </ul>
            </li>
    {{/category}}
    </form>
</ul>

