<ul>
    <!-- 1차 카테고리 -->
    <li><b>카테고리</b></li>
    {{#category}}
        <form onsubmit="return false;">
            <li>
                <a href="">{{categoryName}}</a>
<!--                <input type="hidden" id="categoryCode" name="categoryCode" value="{{categoryCode}}" />-->
                <ul class="low">
                    {{#goodsSubCategory}}
                    <!-- 2차 카테고리 -->
                    <li>
                        <a href="">{{categoryName}}</a>
                    </li>
                    {{/goodsSubCategory}}
                </ul>
            </li>
        </form>
    {{/category}}
</ul>

