<ul>
    <!-- 1차 카테고리 -->
    <li><b>카테고리</b></li>
    {{#category}}
    <li>
        <a href="">{{categoryName}}</a>
        <ul class="low">
            {{#goodsSubCategory}}
            <!-- 2차 카테고리 -->
            <li>
                <a href="">{{categoryName}}</a>
            </li>
            {{/goodsSubCategory}}
        </ul>
    </li>
    {{/category}}
</ul>
