<ul>
    {{#if user.userEmail}}
    <li>
        <span><b>{{#user.userName}}{{.}}{{/user.userName}}</b>님 환영합니다.</span>
    </li>
        {{#user.roles}}
            {{#if roleName = "ADMIN"}}
                <li>
                    <a href="/admin/index">관리자화면</a>
                </li>
            {{/if}}
        {{/user.roles}}
    <li>
        <a href="/signOut">로그아웃</a>
    </li>
    {{else}}
    <li>
        <a href="/user/signIn">로그인</a>
    </li>
    <li>
        <a href="/user/signUp">회원가입</a>
    </li>
    {{/if}}
</ul>