<ul>


	{{#userName}}{{.}}{{/userName}}
	<c:if test="${user == null}">
		<li>
			<a href="/user/signin">로그인</a>
		</li>
		<li>
			<a href="/user/signup">회원가입</a>
		</li>
	</c:if>
	<c:if test="${user != null}">

		<c:if test="${user.verify == 9}">
			<li>
				<a href="/admin/index">관리자 화면</a>
			</li>
		</c:if>

		<li>
			${user.userName}님 환영합니다.
		</li>
		<li>
			<a href="/shop/cartList">카트 리스트</a>
		</li>
		<li>
			<a href="/shop/orderList">주문 리스트</a>
		</li>
		<li>
			<a href="/user/signout">로그아웃</a>
		</li>
	</c:if>

</ul>