<ul>
    {{#unless user}}
        <li>
            <a href="/user/signIn">로그인</a>
        </li>
        <li>
            <a href="/user/signUp">회원가입</a>
        </li>
    {{/unless}}

    {{#if user}}
        <li>
            {{#user.userName}}{{.}}{{/user.userName}}님 환영합니다.
        </li>
        <li>
            <a href="/signOut">로그아웃</a>
        </li>
    {{/if}}
</ul>